<?xml version="1.0" encoding="utf-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gurusader.springmvc.persistence.PostMapper">
	<select id="getAllPostList" resultType="PostVo">
		SELECT *
		FROM post
		ORDER BY postNo DESC
		LIMIT #{firstContentNo}, #{contentsPerPage}
	</select>

	<select id="countAllPosts" resultType="int">
		SELECT count(postNo)
		FROM post
	</select>

	<select id="getSearchPostList" resultType="PostVo">
		SELECT *
		FROM post
		WHERE postNo > 0
		<include refid="searchQuery"/>
		ORDER BY postNo DESC
		LIMIT #{firstContentNo}, #{contentsPerPage}
	</select>

	<select id="countSearchPosts" resultType="int">
		SELECT count(postNo)
		FROM post
		WHERE postNo > 0
		<include refid="searchQuery"/>
	</select>

	<select id="getPost" resultType="PostVo">
		SELECT *
		FROM post
		WHERE postNo = #{postNo}
	</select>

	<insert id="writePost">
		INSERT INTO post (postTitle, postText, postWriter)
		VALUES (#{postTitle}, #{postText}, #{postWriter})
	</insert>

	<update id="revisePost">
		UPDATE post
		SET postTitle = #{postTitle}, postText = #{postText}, postRevDate = #{postRevDate}
		WHERE postNo = #{postNo}
	</update>

	<delete id="deletePost">
		DELETE FROM post
		WHERE postNo = #{postNo}
	</delete>

	<sql id="searchQuery">
		<if test="searchType != null">
			<if test="searchType == 'title'">
				AND postTitle LIKE concat('%', #{searchKeyword}, '%')
			</if>
			<if test="searchType == 'text'">
				AND postText LIKE concat('%', #{searchKeyword}, '%')
			</if>
			<if test="searchType == 'writer'">
				AND postWriter LIKE concat('%', #{searchKeyword}, '%')
			</if>
		</if>
	</sql>
</mapper>
